@model LoginViewModel

<form asp-action="Authenticate" asp-controller="Users" id="login">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <button class="form-control">Log In</button>
    </div>
</form>
