@model IndexViewModel

<p>Logged in: @(Model.User) [<a asp-controller="Users" asp-action="Logout">Log Out</a>]</p>

<p>@(Model.PageTitle)</p>

<form asp-controller="Pages" asp-action="Delete">
    <p><input type="text" name="ID" placeholder="ID" value="BF359BCB-B0A8-4A7A-ADFC-926BFD05F492" /></p>
    <p><input type="text" name="Title" placeholder="Title" /></p>
    <p><input type="text" name="Slug" placeholder="Slug" /></p>
    <p><input type="text" name="Order" placeholder="Order" /></p>
    <p><input type="submit" value="Save" /></p>
</form>

<form asp-controller="Lists" asp-action="Delete">
    <p><input type="text" name="PageID" placeholder="PageID" value="796AC644-FF8E-47DA-BBDC-CA8F822CE5F6" /></p>
    <p><input type="text" name="ID" placeholder="ID" value="836C0101-5BA2-4923-B9A3-4C7A70586E71" /></p>
    <p><input type="text" name="Title" placeholder="Title" /></p>
    <p><input type="text" name="Text" placeholder="Text" /></p>
    <p><input type="text" name="Order" placeholder="Order" /></p>
    <p><input type="submit" value="Save" /></p>
</form>