@model IndexViewModel

<div class="row">
    <div class="col" id="app">
    </div>
</div>

@section scripts {
    <script src="/js/vendors.js"></script>
    <script src="/js/runtime.js"></script>
    <script src="/js/main.js"></script>
}
